<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTVn_Tuan11_NguyenQuyThang_Tin15a9hn.Properties.Settings.dbQuanLySVConnectionString"
            connectionString="Data Source=DESKTOP-LHV9DSP;Initial Catalog=dbQuanLySV;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>